[submodule "src/lpvds"]
	path = src/lpvds
	url = git@github.com:felixzheng02/lpvds.git
[submodule "src/quaternion_ds"]
	path = src/quaternion_ds
	url = https://github.com/SunannnSun/quaternion_ds.git
